{% extends "base.html" %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}"/>
{% endblock %}

{% block content %}
<div class="article-content">
    <div class="article">
        <h1>evangelist mike Pelletier</h1>
        <div class="article-body">
            <img class="art-img" src="{% static 'images/MikeAndBecky.jpg' %}" alt="Mike and Becky Pelletier"/>

                <p>Evangelist Mike Pelletier has been in full-time evangelism since his graduation from Bob Jones
                    University in
                    1988. He has preached in nearly every state of the USA, and in several foreign countries.</p>
                <p>Mike was born June 5, 1965, in Kankakee, Illinois. He accepted Christ as Savior when he was six
                    years old.
                    Soon after Mike's salvation, his father committed suicide leaving his mother to raise five small
                    children alone.
                    This tragedy in Mike's childhood has been used by the Lord to develop a deep compassion for
                    hurting people,
                    and has enabled Mike to better minister to those in need.</p>
                <p>He attended and graduated from Grace Baptist Academy in Kankakee, Illinois. He received a B.A.
                    degree in Bible in
                    1988 from Bob Jones University. While attending the Univeristy, Mike traveled two semesters with
                    the Minutemen
                    Evangelistic Team, a team designed to reach the public school teenagers of America with the
                    message of salvation.</p>
                <p>In June 1986, Mike was invited to train under Evangelist Ron Comfort for 4-weeks. He traveled
                    full-time with the
                    Ron Comfort Evangelistic Team, ministering primarily to teens. After a few years, Mike began his
                    own ministry,
                    and has since then been conducting revival meetings on his own.</p>
                <p>In December 1988, Mike married Rebecca (Becky) Comfort. God has blessed Mike and Becky with 3
                    children; Drew, born
                    March 25, 1991; Allegra, born December 19, 1993; and Aubrey, born October 1, 1995.</p>
                <p>At the turn of the millennium, Mike founded OutReach 2000 National Ministries involving
                    independent, fundamental
                    churches nationwide in area-wide evangelistic crusades. Over 900 people trusted Christ as
                    Saviour through these
                    wonderful meetings. He has also been involved in a church planting effort called Plant America
                    Ministries. Two
                    churches were started under this umbrella.</p>
                <p>Evangelist Pelletier and his family continue to travel the country for approximately 40 weeks of each
                    year holding
                    revival meetings. They travel over-seas every year as well, preaching the gospel in
                    foreign fields.
                    He has a fire burning in his heart for revival and evangelism in our day.</p>
        </div>
    </div>
</div>
{% endblock %}