Django==4.2.13
django-environ==0.12.0
django-storages==1.14.4
django_extensions
Markdown
python-decouple
gunicorn==23.0.0
whitenoise==6.8.2
dj-database-url
psycopg2-binary
python-dotenv
django-postgres-extra==2.0.9