/* Carousel Styles */
.slideshow {
    overflow: hidden;
}
.car-container {
    display: flex;
    max-height: 425px;
    transition: transform 2s ease;
}

.carousel-img {
    min-height: 400px;
    max-height: 400px;
    width: auto;
    padding-left: 4px;
}

.btn-carousel {
    position: absolute;
    top: 450px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    height: 300px;
    max-height: 300px;
    width: 30px;
}

#prev-btn {
    left: 10px;
}

#next-btn {
    right: 10px;
}