<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card List</title>
</head>
<body>
<h1>Card Example Style List</h1>

<div class="card-list">
  <div class="card">
    <h2 class="card-title">Card With Only Title</h2>
  </div>
  <div class="card">
    <h2 class="card-title">Card With Text</h2>
    <p class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quae.</p>
  </div>
  <div class="card">
    <h2 class="card-title">Expandable Card</h2>
    <p class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quae.</p>
    <p class="card-expanded">Card with an expandable view selection. Hidden until clicked.</p>
  </div>
  <div class="card">
    <h2 class="card-title">Card With Image</h2>
    <img class="card-image" src="https://picsum.photos/200/300" alt="Card Image">
  </div>
  <a class="card-link" href="#">
    <div class="card">
      <h2 class="card-title">Card With Link</h2>
    </div>
  </a>
</div>
</body>
</html>